<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>不忘_登陆_测试</title>
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
	<script src="/lib/jquery/jquery.js"></script>
</head>
<body>
	<%- include('common/home-aside.ejs',{data:data}) -%>
	<!--右边下部分，网站的主体页面-->
	<div class="main">
    <%- include('common/home-header.ejs',{data:data}) -%>
    <div class="body">
      <!--内容部分!-->
      <div class="follow-main">
	      <div class="follow-header">
	      	<ul class="nav nav-pills">
	  				<li><a href="/home/<%= data.userID %>/follow/user">用户</a></li>
	    			<li><a href="/home/<%= data.userID %>/follow/note">记本</a></li>
	    		</ul>
	    	</div>  	
				<div>
					<ul>
						<% data.userlist.forEach(function(item){%>
						<li>
							<div class="f-items">
								<div class="user-pto">
									<img src=<%= item.userPtoUrl %>>
								</div>
								<div class="user-info">
									<div class="user-nick">
										<a href="#"><%= item.nickname%></a><button type="button" class="btn btn-primary btn-lg">已关注</button>
									</div>
								</div>	
							</div>
						</li>
						<%});%>
					</ul>
				</div>
			</div>
	  </div>
	</div>
<script>
</script>
</body>
</html>