<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>不忘_登陆_测试</title>
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
	<script src="/lib/jquery/jquery.js"></script>
</head>
<body>
	<%- include('common/home-aside.ejs',{data:sessionpart}) -%>
	<!--右边下部分，网站的主体页面-->
	<div class="main">
    <%- include('common/home-header.ejs',{data:userpart,check:check,checkrelationship:checkrelationship }) -%>
    <div class="body">
      <!--内容部分!-->
      <div class="follow-main">
	      <div class="follow-header">
	      	<ul class="nav nav-pills">
	  				<li><a href="/home/<%= userpart.userID%>/follow/user">用户</a></li>
	    			<li><a href="/home/<%= userpart.userID%>/follow/note">记本</a></li>
	    		</ul>
	    	</div>
				<div class="notelist">
					<% if(datapart.length == 0){ %>
						<div class="blank-list"> there is no note here </div>
					<% }else{ %>
						<ul class="note-list">
							<% datapart.forEach(function(item){ %>						
							<li class="notelist-item">
								<a href="/note/<%= item.noteID%> " class="notelist-pic"><img src="<%= item.noteCoverUrl %>" ></a>
								<div class="notelist-title">
									<p><%= item.noteTitle %><p>
								</div>
							</li>
							<%});%>
					</ul>
				<% } %>
				</div>	
			
    	</div>
		</div>
    
	</div>
<script>
</script>
</body>
</html>