<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>不忘_登陆_测试</title>
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
	<script src="/lib/jquery/jquery.js"></script>
</head>
<body>
	<%- include('common/home-aside.ejs',{data:notepart}) -%>
	<!--右边下部分，网站的主体页面-->
  <div class="main">
		<div class="return-btn">
		  <img src="/img/return-lg.jpg" id="btnReturn">
		</div>
		<div class="body">
      <div class="note-title">
        <%= notepart.noteTitle %>
      </div>
      <div class="note-detail">
        <div class="note-detail-header">
          <img src=<%= notepart.noteCoverUrl %>>
        <div class="note-title"><%= notepart.noteTitle %></div>
        </div>
        <hr class="cutLine" />
        <div class="note-detail-content">
          <ul>
            <li>进展<span>&nbsp;&nbsp;<%= notepart.recordcount %></span></li>
            <li>关注<span>&nbsp;&nbsp;<%= notepart.allfocuse %></span></li>
            <li>点赞<span>&nbsp;&nbsp;<%= notepart.allliked %></span></li>
            <li>评论<span>&nbsp;&nbsp;<%= notepart.allcomment %></span></li>
          </ul>
        </div>
        <hr class="cutLine" />
        <div class="note-detail-foot">
        <%= notepart.noteIntroduction %>
        </div>
      </div>
        <% if(checknote){%>
        <div class="note-body">
          <div class="addRecord">
            <form>	
              <div class="form-group ">
                <label for="addRecord">分享现在的心情</label>
                <textarea rows="4" cols="30" class="form-control" id="addRecord" placeholder="+ 添加"></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-lg" id="btn">发布</button>
            </form>
          </div>
        <% }else{ %>
          <button class="btn btn-primary btn-lg" id="followclick"><span class="glyphicon glyphicon-plus">&nbsp;</span>关注记本</button>
          <div class="note-body">
        <% };%>
        <div class="note-content">
          <% if(recordpart.length == 0){ %>
						<div class="blank-list"> there is no record here </div>
					<% }else{ %>	
          <ul class="p-ul">
            <% recordpart.forEach(function(item){ %>
              <li class="record-items">
                <div class="r-items-header">
                  <div class="info-time"><span><%= item.recordtime %></span></div>
                </div>
                <div class="r-items-content">
                  <div class="record-content"> <p><%= item.recordContent %></p></div>     
                </div>
                <div class="r-items-foot">
                  <hr class="cutLine" />
                  <div class="items-info">
                    <a class="rd-lk">赞&nbsp;&nbsp;</a><span><%= item.recordLiked %></span>
                    <a class="rd-cmt">评论&nbsp;&nbsp;</a><span><%= item.recordComment %></span>
                    <a id="delete" style="float:right;margin-right:10px;">删除</a>
                    <a id="edit" style="float:right;margin-right:10px;">编辑</a>
                  </div>
                  <div class="commentbox" id=<%= item.recordID %>commentbox >
                    <div class="panel panel-default">
                      <ul class="list-group" id="ul-cmt">
                        <% item.comment.forEach(function(item){ %>
                          <li class="list-group-item"><a href="/home/<%= item.userID%>/notelist"><%= item.nickname %></a><span>&nbsp;:&nbsp;<%= item.comment %></span></li>
                        <%}); %>
                      </ul>
                    </div>
                    <div>
                      <form class="form-inline">  
                        <input type="text" class="form-control rd-input" >
                        <button type="submit" class="btn btn-primary rd-btn">发布</button>
                      </form>
                    </div>
                  </div>
                </div>
              </li>
            <%});%>
          </ul>
          <% };%>
        </div>
      </div>
    </div>
	</div>
<script>
  
  $("#btnReturn").click(function(){  //给return的图片一个点击事件
    // location.href='/home';
    history.back(-1);//回退到上一页
  });

  $('.rd-lk').on('click',function(event){
    event.preventDefault();
    var liked = parseInt($(this.nextSibling).html());
    liked++;//自加1
    $(this.nextSibling).html(liked);
    // $.ajax({
    //   type: 'POST',
    //   url: '/note/'
    // });
  });

  $('.rd-cmt').on('click',function(event){
    event.preventDefault();
    if($(this).parent().next().css("display")=="none"){  
        $(this).parent().next().show();  
      }else{  
        $(this).parent().next().hide();
      };
  });

  $('.rd-btn').on('click',function(event){
    event.preventDefault();
    var comment = $(this).prev().val();
    var ul = $(this).parent().parent().prev().find('#ul-cmt');
    alert(ul);
    var newLi = document.createElement('li');
    var text = '<li class="list-group-item"><a href="#">'+"tracer"+'</a><span>&nbsp;:&nbsp;'+comment+'</span></li>';
    newLi.innerHTML=text;
    setTimeout(function(){
      ul.append(newLi);
    },1000);// 假装上传且实时更新  其实是Ajax 可以完成但是先不写
    // $.ajax({
    //   type: 'POST',
    //   url: '/note/:id/addcomment'
    //   data: data,
    //   success:function(data){
    //   }
    // });

  });

  // $("#btn").click(function(evetn){
  //   event.preventDefault();
  //   var addRecord = $("#addrecord").val();
  //   var data = { "recordContent" : addRecord };
  //   $.ajax({
  //     type: 'POST',
  //     url: '/note/:id/addrecord',
  //     data: data,
  //     success:function(data){
  //       //  my solution is refreshing this page or redirecting this page
  //     }
  //   });
  // });




</script>
</body>
</html>