<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>不忘_登陆_测试</title>
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
	<script src="/lib/jquery/jquery.js"></script>
</head>
<body>
	<%- include('common/home-aside.ejs',{data:notepart}) -%>
	<!--右边下部分，网站的主体页面-->
  <div class="main">
		<div class="return-btn">
		  <img src="/img/return-lg.jpg" id="btnReturn">
		</div>
		<div class="body">
      <div class="note-title">
        <%= notepart.noteTitle %>
      </div>
      <div class="note-detail">
        <div class="note-detail-header">
          <img src=<%= notepart.noteCoverUrl %>>
        <div class="note-title"><%= notepart.noteTitle %></div>
        </div>
        <hr class="cutLine" />
        <div class="note-detail-content">
          <ul>
            <li>进展<span>&nbsp;&nbsp;<%= notepart.recordcount %></span></li>
            <li>关注<span>&nbsp;&nbsp;<%= notepart.allfocuse %></span></li>
            <li>点赞<span>&nbsp;&nbsp;<%= notepart.allliked %></span></li>
            <li>评论<span>&nbsp;&nbsp;<%= notepart.allcomment %></span></li>
          </ul>
        </div>
        <hr class="cutLine" />
        <div class="note-detail-foot">
        <%= notepart.noteIntroduction %>
        </div>
      </div>
        <% if(checknote){%>
        <div class="note-body">
          <div class="addRecord">
            <form>	
              <div class="form-group ">
                <label for="addRecord">分享现在的心情</label>
                <textarea rows="4" cols="30" class="form-control" id="addRecord" placeholder="+ 添加"></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-lg" id="btn">发布</button>
            </form>
          </div>
        <% }else{ %>
          <button class="btn btn-primary btn-lg" id="followclick"><span class="glyphicon glyphicon-plus">&nbsp;</span>关注记本</button>
          <div class="note-body">
        <% };%>
        <div class="note-content">
          <% if(recordpart.length == 0){ %>
						<div class="blank-list"> there is no record here </div>
					<% }else{ %>	
          <ul class="p-ul" id="<%= notepart.userID %>">
            <% recordpart.forEach(function(item){ %>
              <li class="record-items" id="<%= item.recordID%> ">
                <div class="r-items-header">
                  <div class="info-time"><span><%= item.recordtime %></span></div>
                </div>
                <div class="r-items-content">
                  <div class="record-content"><p><%= item.recordContent %></p></div>     
                </div>
                <div class="r-items-foot">
                  <hr class="cutLine" />
                  <div class="items-info">
                    <a class="rd-lk">赞&nbsp;&nbsp;</a><span><%= item.recordLiked %></span>
                    <a class="rd-cmt">评论&nbsp;&nbsp;</a><span><%= item.recordComment %></span>
                  <% if(checknote){%>
                    <a id="delete" style="float:right;margin-right:10px;">删除</a>
                    <a id="edit" style="float:right;margin-right:10px;">编辑</a>
                  <% }; %>
                  </div>
                  <div class="commentbox" id="<%= item.recordID %>commentbox" >
                    <div class="panel panel-default">
                      <ul class="list-group" id="ul-cmt">
                        <% item.comment.forEach(function(item){ %>
                          <li class="list-group-item"><a href="/home/<%= item.userID%>/notelist"><%= item.nickname %></a><span>&nbsp;:&nbsp;<%= item.comment %></span></li>
                        <%}); %>
                      </ul>
                    </div>
                    <div>
                      <form class="form-inline">  
                        <input type="text" class="form-control rd-input" >
                        <button type="submit" class="btn btn-primary rd-btn">发布</button>
                      </form>
                    </div>
                  </div>
                </div>
              </li>
            <%});%>
          </ul>
          <% };%>
        </div>
      </div>
    </div>
	</div>
<script>
  
  $("#btnReturn").click(function(){  //给return的图片一个点击事件
    // location.href='/home';
    history.back(-1);//回退到上一页
  });

  $('.rd-lk').on('click', function(event){
    event.preventDefault();
    var dom = $(this.nextSibling);
    var likedcount = parseInt(dom.html());
    var recordID = $(this).parent().parent().parent().attr('id');
    var data = {"recordID":recordID};
    $.ajax({
      type: 'POST',
      url: '/liked',
      data: data,
      success:function(data){
        if(data.ret_code === 0 ){
          alert('点赞成功！');
          likedcount++;//自加1
          dom.html(likedcount);
        }else{
          alert('点赞重复！');
        }
      }
    });
  });

  $('.rd-cmt').on('click',function(event){
    event.preventDefault();
    if($(this).parent().next().css("display")=="none"){  
        $(this).parent().next().show();  
      }else{  
        $(this).parent().next().hide();
      };
  });

  $('.rd-btn').on('click',function(event){
    event.preventDefault();
    var dom = $(this).parent().parent().parent().prev().find('.rd-cmt').next();
    var commentcount = parseInt(dom.html());
    var comment = $(this).prev().val();
    var recordID = $(this).parent().parent().parent().parent().parent().attr('id');//获得当前评论中 record的ID 
    var userID = $(this).parent().parent().parent().parent().parent().parent().attr('id');
    alert(userID);
    var ul = $(this).parent().parent().prev().find('#ul-cmt');
    var data = {
      "comment":comment,
      "recordID":recordID,
      "userID":userID
    };
    $.ajax({
      type: 'POST',
      url: '/friending/addcomment',  //  借用了friending 的评论功能
      data: data, 
      success:function(data){
        if(data.ret_code === 0 ){
          alert('评论成功！');
            var newLi = document.createElement('li');
            var text = '<li class="list-group-item"><a href="/home/'+data.userID+'/notelist">'+data.nickname+'</a><span>&nbsp;:&nbsp;'+comment+'</span></li>';
            newLi.innerHTML=text;
            setTimeout(function(){
              ul.append(newLi);
              commentcount++;//自加1
              dom.html(commentcount);
            },1000);// 假装上传且实时更新 
        }
      }
    });

  });


  $("#btn").click(function(event){
    event.preventDefault();
    var addRecord = $("#addRecord").val();
    var data = { "recordContent" : addRecord };
    alert(data);
    $.ajax({
      type: 'POST',
      url: window.location.pathname+'/addrecord',
      data: data,
      success:function(data){
        if(data.ret_code === 0 ){
          alert('添加成功！');
          location.reload();
        }
      }
    });
  });


</script>
</body>
</html>