<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>不忘_登陆_测试</title>
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
	<script src="/lib/jquery/jquery.js"></script>
</head>
<body>
	<%- include('common/home-aside.ejs',{data:sessionpart}) -%>
	<!--右边下部分，网站的主体页面-->
	<div class="main">
		<%- include('common/home-header.ejs',{data:userpart}) -%>
    <div class="body">
			<!--内容部分!-->
				<% if(datapart.length == 0){ %>
						<div class="blank-list"> there is no progress here </div>
					<% }else{ %>	
					<ul class="p-ul">
						<% datapart.forEach(function(item){ %>
							<li class="p-items">
								<div class="p-items-header">
									<div class="user-pto">
										<img src=<%= userpart.userPtoUrl %> >
									</div>
									<div class="user-info">
										<div class="info-time">
											<span><%= item.recordtime %></span>
										</div>
										<div class="user-nick">
											<% if(check) {%>
												<a href="#">你</a>
											<% }else{%>
												<a href="/home/<%= userpart.userID%>/notelist"><%= userpart.nickname %></a>
											<% }; %>
											<span>更新了一个进展到&nbsp;</span><a href="/note/<%= item.noteID%>"><%= item.noteTitle %></a>
										</div>
									</div>
								</div>
								<div class="p-items-content">
									<div class="user-content">
										<p><%= item.recordContent %></p>
									</div>
								</div>
								<div class="p-items-foot">
									<hr class="cutLine" />
									<div class="items-info">
										赞<span>&nbsp;<%= item.recordLiked %> &nbsp;</span>
										评论<span>&nbsp;<%= item.recordComment %> &nbsp;</span>
									</div>
								</div>
							</li>
						<%});%>
					</ul>
					<% } %>
    </div>
	</div>
<script>
</script>
</body>
</html>