<div class="userHeader">
  <div class="userimg">
    <img src="<%= data.userPtoUrl %>">
  </div>
  <p><%= data.nickname %><span><%= data.sex%></span></p>
  <div class="userintroduction">
    <% if(data.qianming){%>
    <p><%= data.qianming %></p>
    <% }else{ %>
    <p>ta没有留下签名哟</p>
    <% };%>
  </div>
</div>
<div class="header">				
  <ul class="nav nav-tabs" id="header-bar">
    <li role="presentation"><a href="/home/<%= data.userID %>/notelist">记本</a></li>
    <li role="presentation"><a href="/home/<%= data.userID %>/progress">进展</a></li>
    <li role="presentation"><a href="/home/<%= data.userID %>/follow">关注</a></li>
    <li role="presentation"><a href="/home/<%= data.userID %>/follower">粉丝</a></li>
    <% if (check){ %>
    <li role="presentation" class="pull-right"><a class="newnote"><span class="glyphicon glyphicon-plus">&nbsp;</span>新增记本</a></li>
    <% }else{%>
      <% if(checkrelationship){ %>
      <li role="presentation" class="pull-right"><a class="unfollowclick" id="<%= data.userID %>"><span class="glyphicon glyphicon-ok">&nbsp;</span>已关注</a></li>
      <% }else{%>
      <li role="presentation" class="pull-right"><a class="followclick" id="<%= data.userID %>"><span class="glyphicon glyphicon-plus">&nbsp;</span>关注</a></li>
      <% };%>
    <% };%>
  </ul>
</div>
<script src="/js/followuserclick.js"></script>
